<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Files" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <Files>
    <add key="WatchPicture" value="C:\Users\kylea\Pictures\watch.PNG" />
  </Files>  
</configuration>
